@use 'partials/variables';
@use 'partials/navbar';
@use 'partials/footer';
@use "partials/mixins";
@use 'functions/functions';


* {
    box-sizing: border-box;
}

html {
    max-height: 100%;
    @include mixins.font-family();
}

body {
    max-height: 100%;
    @include mixins.font-family();
    color: variables.$black;
    background-color: variables.$jet;
    margin: 0;
    padding: 0;
}

/**********************************
/ HOME PAGE
/**********************************
 */

.wrapper {
    max-height: 100%;
    @include mixins.font-family();
    @include mixins.box-style();
}

.additional-info-head {
    @include mixins.box-style(55%, 30px 0 0 0);
    color: variables.$white;
}

.info-wrapper {
    @include mixins.box-style(55%, 20px);
    @include mixins.background-transparent();
    border-radius: 5px;

    p {
        @include mixins.text-style();
    }

    h2, h3 {
        color: variables.$egg_white;
    }

    .text-content {
        padding: 20px;

        a {
            text-decoration: none;
            color: variables.$bittersweet;

            span {
                transition: functions.text-transition(0.2s, ease);

                &:hover {
                    transform: scale(1.05);
                    font-size: 1.10em;
                }
            }
        }
    }
}


/**********************************
 * Item showcase
 **********************************/

.item-showcase {
    @include mixins.item-showcase();
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include mixins.box-style-items();
}

.item {
   @include mixins.item();
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: functions.item-transition(0.3s, ease);
    overflow: hidden;
    will-change: contents;
    cursor: pointer;

    h3 {
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 14px;
        margin: 5px 0;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 8;
    }
}

img.item-icon {
    @include mixins.img-icon();
}

.info-tainer {
    @include mixins.box-style(55%);
    color: variables.$soft-white;
    padding: 10px;
}

.home-text {
    h2 {
        text-align: unset;
        color: variables.$inherit;
        margin: inherit;
    }
}

.start-trading-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 0 0 0;

    a {
        background-color: variables.$dark_blue;
        color: variables.$white;
        padding: 10px 14px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background-color: variables.$blue;
        }
    }

    p {
        margin: 12px 0 0 12px;
    }
}

/**********************************
/ ERRORS
/**********************************
 */

.alert-bottom {
    position: relative;
    top: 15px;
    left: 0;
    background-color: variables.$red;
    color: variables.$white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    width: auto;
    min-width: 300px;
    font-size: 16px;
}

#account.active {
    background-color: variables.$soft-white;
    border-radius: 5px;
    color: variables.$black;
}

/**********************************
/ LOGIN PAGE
/**********************************
 */

.login {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 25%;
    max-width: 55%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    @include mixins.background-transparent();
    text-align: center;
    color: variables.$white;

    h2 {
        color: variables.$default-text;
        text-align: left;
        @include mixins.font-family();;
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 30px;
    }

    h3 {
        color: variables.$light_grey;
        margin: 0 0 30px;
        font-weight: 500;
        font-size: 16px;
    }
}

.avatar {
    display: inline-block;
    margin: 0 auto 16px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #58A4B0, #D64933);
    padding: 2px;
    width: 120px;
    height: 120px;
    text-decoration: none;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #161616;
    }
}

.login-form {
    display: grid;
    gap: 16px;
    place-items: center;
    width: 100%;
    margin: 0;

    input {
        width: 100%;
        height: 60px;
        outline: none;
        @include mixins.font-family();;
        border-radius: 8px;
        background: transparent;
        border: 2px solid variables.$nardogrey;
        font-size: 18px;
        padding: 0 20px 0 50px;
        color: variables.$white;

        &::placeholder {
            color: variables.$white;
        }

        &:focus {
            border-color: variables.$bittersweet;
        }
    }

    button {
        width: 100%;
        height: 60px;
        outline: none;
        padding: 0;
        @include mixins.font-family();;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        background: #157ae1;
        color: variables.$egg_white;
        border: 0;
        font-weight: 600;
    }

    a {
        color: variables.$bittersweet;
        font-size: 16px;
        text-align: left;
        text-decoration: none;
        @include mixins.font-family();;
    }
}

.textbox {
    width: 100%;
    position: relative;
    @include mixins.font-family();;

    span {
        position: absolute;
        top: 50%;
        left: 16px;
        translate: 0 -50%;
    }
}

.spinner-border {
    @include mixins.spinner(1rem, 0.15em, 8px);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}



/**********************************
/ REGISTER PAGE
/**********************************
 */

.register {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background: #161616;
    text-align: center;
    color: variables.$white;

    > h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 30px;
    }

    > h3 {
        color: variables.$light_grey;
        margin: 0 0 30px;
        font-weight: 500;
        font-size: 16px;
    }
}

.register-form {
    display: grid;
    gap: 16px;
    place-items: center;
    width: 100%;
    margin: 0;

    input {
        width: 100%;
        height: 60px;
        outline: none;
        font-family: variables.$inherit;
        border-radius: 8px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.1);
        font-size: 18px;
        padding: 0 20px 0 50px;
        color: variables.$inherit;

        &:focus {
            border-color: variables.$blue;

            ~ {
                span {
                    color: variables.$blue;
                }
            }
        }
    }

    button {
        width: 100%;
        height: 60px;
        outline: none;
        padding: 0;
        font-family: variables.$inherit;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        background: #157ae1;
        color: variables.$egg_white;
        border: 0;
        font-weight: 600;
        letter-spacing: 2px;
    }

    a {
        color: variables.$blue;
        font-size: 16px;
        text-align: left;
        text-decoration: none;
    }
}

/**********************************
/ LOGOUT MENU
/**********************************
 */

.logout-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: variables.$egg-white;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;

    a {
        color: variables.$black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: variables.$soft-white;
        }
    }

    p {
        text-align: center;
    }
}

/**********************************
/ PROFILE PAGE
/**********************************
 */

#account {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 24px;
    color: variables.$white;

    &:hover {
        background-color: variables.$egg-white;
        border-radius: 5px;
        color: variables.$black;
    }
}

.profile-skins {
    h2 {
        margin-left: 12px;
    }

    flex: 1;
    margin: 0 10px 30px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.content {
    width: 60vw;
    margin: 0 auto;
}

.container {
    display: flex;
    gap: 15px;
    margin-top: 8px;
}

.container.flex-row {
    flex-direction: row;
}

.container.flex-column {
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

section.profile-overview {
    div.col.profile-image {
        justify-content: center;
    }

    img.profile-picture {
        height: 256px;
    }
}

section.profile-skins {
    .container {
        gap: 0;
    }
}

.row.inventory-item {
    display: grid;
    grid-template-columns: auto 20% 20%;
    padding: 25px 5px;
    background-color: variables.$soft-white;
    border-bottom: 2px solid #1e0134;

    span {
        text-overflow: ellipsis;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.profile-trades {
    flex: 1;
    margin: 0 10px 30px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.items-profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.trades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.item-profile {
    background-color: variables.$egg-white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3 {
        margin-top: 0;
    }
}

/**********************************
/ TRADE PAGE
/**********************************
 */

.trade {
    background-color: variables.$egg-white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3 {
        margin-top: 0;
    }

    a {
        color: variables.$black;
        font-weight: bold;
        text-decoration: none;
        text-align: left;
    }

    .options {
        display: flex;
        justify-content: space-between;
    }
}

a#yes {
    color: variables.$green;
}

a#no {
    color: variables.$red;
}

@media (width >= 450px) {
    .register {
        width: 380px;
    }
}
