$black: black;
$soft_white: #edf2f7;
$white: white;
$light_grey: rgba(255, 255, 255, 0.38);
$teal: #58A4B0;
$egg_white: #f9f9f9;
$blue: #157ae1;
$green: green;
$red: red;
$dark_blue: #0056b3;
$pink: #c7a1ff;
$dark_grey: #4a5568;
$light_white: #cbd5e0;
$davy-grey: #5A5A66;
$jet: #333;

$kanit: Kanit, serif;
$arial: Arial, sans-serif;
$agency: "Agency FB", serif;

$inherit: inherit;
